<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <authentication mode="Forms">
      <forms name="auth_cookie" loginUrl="Login.aspx" timeout="10" />
    </authentication>
    <authorization>
      <deny users="?" />
    </authorization>
  </system.web>

  <!-- Public Page -->
  <location path="ForgotPassword.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>

  <!-- Public Page -->
  <location path="ResetPassword.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
</configuration>
